h1
{
  color: green;
}
#eka
{
  color: red;
  font-family: 'Dancing Script';
  font-style: italic;
  font-size: 25px;
}
#p2
{
  color: blue;
  font-family: 'Noto Sans Display';
  font-size: 35px;
}
#p3
{
  color: #4169e1;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 50px;
}
#p4
{
  color: #ff1493;
  font-family: 'Silkscreen';
  font-size: 20px;
}
#p5
{
  color: #52593b;
  font-family: 'Pacifico';
  font-size: 70px;
}
#p6
{
  color: #99d00f;
  font-family: 'Silkscreen';
  font-size: 45px;
}
#p7
{
  color: #a7fc00;
  font-family: 'Gloria Hallelujah';
  font-size: 60px;
}
#p8
{
  color: #ffd700;
  font-family: 'Paytone One';
  font-size: 70px;
}
#p9
{
  color: green;
  font-family: 'Silkscreen';
  font-size: 35px;
}
#p10
{
  color: #ff1dce;
  font-family: 'Inspiration';
  font-size: 80px;
}
#h2
{
  font-family:'Silkscreen';
}
#p1
{
  font-family: 'Carter One'
}
